<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/form.css">
</head>


<body>
    <p> DAFTAR DULU LEKK </p>
    <hr>
    <%- include('../partial/nav.ejs') %>
        <hr>

    <form  action="/registers" method="post" >
        <label for="firstName">First Name</label>
           <br>
       <input type="text" id="firstName" name="firstName">
           <br>
         <label for="lastName">Last Name</label>
            <br>
        <input type="text" id="lastName" name="lastName">
            <br>
         <label for="bornDate">Date of born:</label>
            <br>
        <input type="date" id="bornDate" name="bornDate">
            <br>
         <label for="email">Email</label>
            <br>
        <input type="text" id="email" name="email">
            <br>
         <label for="password">Password</label>
            <br>
        <input type="text" id="password" name="password">
        <br>
        <label for="role">Role</label>
        <br>
        <select name="role" id="role">
           <option value="" selected disabled>Choose role</option>
            <% role.forEach(el => { %>
            <option value="<%= el %>"><%= el %></option>
            <% }) %>
            </select>
            <br> <br>
            <button type="submit">Register</button>
    </form>
</body>
</html>