*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.product-card {
  width: 250px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.product-category,
.product-user {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.view-details-btn {
  margin-top: 12px;
  padding: 8px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-details-btn a{
    color: aliceblue;
    text-decoration: none;
}

.view-details-btn:hover {
  background-color: #2980b9;
}

.view-delete-btn {
  margin-top: 12px;
  padding: 8px;
  background-color: #f43703;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.view-delete-btn a{
    color: aliceblue;
    text-decoration: none;
}
.view-delete-btn:hover {
  background-color: #ee430f;
}

.sub-heading{
color: rgb(31, 31, 30);
text-align: center;
font-weight: 600;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

